@model IEnumerable<GiHubSample.Web.ViewModels.GitHubRepoViewModel>
@{
    ViewBag.Title = "Repositories";
}
<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@ViewBag.PageTitle</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
<div class="row">
    @foreach (var item in Model)
    {
        {

            string desc = item.Description;

            if (desc != null)
            {
                if (desc.Length > 30)
                {
                    desc = desc.Substring(0, 30) + "...";
                }
            }

        <div class="col-lg-3 col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            @*<i class="fa fa-comments fa-5x"></i>*@
                            <img class="img-gitlogo-ss" src="~/Content/Image/githublogo.png" />
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">@Html.DisplayFor(modelItem => item.Name)</div>
                            <div>@desc</div>
                        </div>
                    </div>
                </div>
                
                @*<a href="/Home/Detail?owner=@item.owner.login&repoName=@item.name">*@
                    <div class="panel-footer">
                        <span class="pull-left">@Html.ActionLink("View Details", "Detail", new { gitHubRepoId = item.GitHubRepoId, repoName= item.Name, owner=item.OwnerLogin })</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                @*</a>*@
            </div>
        </div>
        }
    }
    </div>
        <!-- /.row -->
</div>